{% extends 'base.html' %}

{% block content %}

<div class ="container mt-5 pt-4 mb-5">

    <div class="mb-4">
        <h2 class="mb-3 titulos">Catálogo</h2>

        <form method="get" class="d-flex gap-2 w-100">
            <input type="text" name="q" class="form-control" placeholder="Buscar libros..." value="{{ q }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    <div class="row g-4">
        {% for libro in libros %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100">
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}" class="card-img-top" alt="{{ libro.titulo }}">
                {% else %}
                <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 300px;">
                    <span class="fs-5">Sin Portada</span>
                </div>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ libro.titulo }}</h5>
                    <p class="card-text text-muted mb-2">por {{ libro.autor }}</p>
                    <p class="card-text flex-grow-1">{{ libro.descripcion|truncatechars:120 }}</p>
                    <p class = "card-text "><span class="badge bg-light text-dark border">{{ libro.categoria }}</span></p>
                    <a href="{% url 'catalogo:detalle_libro' libro.id %}" class="btn btn-outline-primary mt-auto">Explorar libro</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}