{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-5">
            <div class="card shadow my-5">
                <div class="card-body p-4">
                    <h4 class="text-center fw-bold mb-4">Crear Cuenta</h4>
                    
                    <!-- Formulario de registro -->
                    <form class="form-signin" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary btn-lg" type="submit">
                                Registrarse
                            </button>
                        </div>
                    </form>
                    
                    <hr class="my-4">
                    <p class="text-center mb-0">
                        ¿Ya tienes cuenta? 
                        <a href="{% url 'usuarios:login' %}" class="text-decoration-none fw-bold">
                            Inicia sesión aquí
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}